---
export interface Properties {
  title: string;
}

import structuredData from '../../public/structuredData.json';
import Triangles from '../components/Triangles/Triangles';

const { title } = Astro.props as Properties;

const { origin } =
  typeof window !== 'undefined' ? window.location : { origin: 'https://patrikelfstrom.se' };

const structuredDataString = JSON.stringify(structuredData);
---

<!DOCTYPE html>
<html lang="en" class="overflow-hidden">
  <head>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/icons/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={structuredData.mainEntityOfPage.description} />
    <link rel="canonical" href={origin} />

    <meta property="og:image" content="/images/icons/patrikelfstrom-logo-1200x1200.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="1200" />
    <meta property="og:image:alt" content="Patrik Elfström logotype" />
    <meta property="og:url" content={origin} />
    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary" />

    <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png" />
    <link rel="mask-icon" href="/images/icons/safari-pinned-tab.svg" color="#0084c7" />

    <link rel="apple-touch-icon" href="/images/icons/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="theme-color" content="#ffffff" />

    <link rel="author" href="/humans.txt" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <script type="application/ld+json" set:html={structuredDataString}></script>
  </head>

  <body class="h-screen m-0 bg-patrik-gray font-sans">
    <div class="flex justify-center items-center text-center h-screen">
      <slot />
    </div>
    <Triangles client:load />
  </body>
</html>
