<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= structuredData.mainEntityOfPage.name %></title>
    <meta
      name="description"
      content="<%= structuredData.mainEntityOfPage.description %>"
    />
    <meta
      property="og:image"
      content="https://<%= host %>/images/icons/patrikelfstrom-logo-1200x1200.png"
    />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="1200" />
    <meta property="og:image:alt" content="Patrik Elfström logotype" />
    <meta property="og:url" content="https://<%= host %>" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <link rel="canonical" href="https://<%= host %>" />
    <link rel="author" href="${require('./humans.txt')}" />
    <link rel="manifest" href="${require('./manifest.webmanifest')}" />
    <meta
      name="msapplication-config"
      content="${require('./browserconfig.xml')}"
    />
    <link
      rel="apple-touch-icon"
      href="${require('./images/icons/apple-touch-icon.png')}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="${require('./images/icons/favicon-32x32.png')}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="${require('./images/icons/favicon-16x16.png')}"
    />
    <link
      rel="mask-icon"
      href="${require('./images/icons/safari-pinned-tab.svg')}"
      color="#0084c7"
    />
    <link rel="shortcut icon" href="${require('./images/icons/favicon.ico')}" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="preconnect" href="https://www.google-analytics.com" />
    <script type="application/ld+json">
      <%= JSON.stringify(structuredData) %>
    </script>
    <link
      rel="preload"
      href="https://fonts.gstatic.com/s/opensans/v15/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2"
      as="font"
      crossorigin
    />
    <link
      rel="preload"
      href="https://fonts.gstatic.com/s/opensans/v15/EInbV5DfGHOiMmvb1Xr-hugdm0LZdjqr5-oayXSOefg.woff2"
      as="font"
      crossorigin
    />
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-2643871-3"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-2643871-3");
    </script>
  </head>

  <body>
    <div id="root"></div>
    <noscript>Javascript is required to view this website.</noscript>
  </body>
</html>
